# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Java
1. Julia
1. R
1. SQL
1. Python

Some of the commonly used libraries used by Data Scientists include:

1. Scikit
1. Matplotlib
1. Tensorflow
1. Scipy
1. Keras

| Data Science Tools|
|:-----------------:|
| RStusdio |
| Tensorflow |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
David Fillis